var environmentConfigs = {
  development: {
    logger_level: 'silly',
    db_path: 'mongodb://localhost/yolowatch',
    port: 9002,
    endpoints: {
      max_tweet_count: 20
    }
  },
  production: {
    logger_level: 'info',
    db_path: 'mongodb://localhost/yolowatch',
    port: 9002,
    endpoints: {
      max_tweet_count: 20
    }
  }
};

var activeConfig = environmentConfigs.development;
if (process.env.NODE_ENV in environmentConfigs) {
  activeConfig = environmentConfigs[process.env.NODE_ENV];
}

module.exports = activeConfig;
