var environmentConfigs = {
  development: {
    logger: {
      level: 'silly'
    },
    db: {
      path: 'mongodb://localhost/yolowatch'
    },
    server: {
      port: 9002
    },
    endpoints: {
      max_tweet_count: 20
    }
  },
  production: {
    logger: {
      level: 'info'
    },
    db: {
      path: 'mongodb://localhost/yolowatch'
    },
    server: {
      port: 9002
    },
    endpoints: {
      max_tweet_count: 20
    }
  }
};

var activeConfig = environmentConfigs.development;
if (process.env.NODE_ENV in environmentConfigs) {
  activeConfig = environmentConfigs[process.env.NODE_ENV];
}

module.exports = activeConfig;
